


.br-20 { border-radius: 20px }




/* promo */

.promo-content { 
	text-align: left;
}

.promo-content h6 {
	font-weight: 700;
	padding: 10px 10px 0 10px;
}

.promo-content span {
	background-color: none !important;
	padding: 10px 10px 0 10px !important;	
}

.item-title {
	text-transform: uppercase !important;
	font-weight: 700 !important;
	color: #000000 !important;

}

/* Search */
.swiper-slide {
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
.swiper-slide span {
  text-align:center;
  display:block;
  margin: 20px;
  font-size:21px;
}
.swiper-container {
  height: 120px;
  margin: 35px 0;
}